Source: libapache-admin-config-perl
Section: interpreters
Priority: optional
Build-Depends: debhelper (>= 3.0.5), perl (>= 5.005)
Maintainer: Olivier Poitrey <rs@rhapsodyk.net>
Standards-Version: 3.5.1

Package: libapache-admin-config-perl
Architecture: all
Depends: ${perl:Depends}
Description:  A common module to manipulate Apache configuration files
 Apache::Admin::Config provides an object interface to handling Apache like
 configuration files without modifying comments, identation, or truncated lines.
